.main {
    border: 1px solid $deselected-color;
    border-radius: 4px;
    padding: 0px 2ch;

    &:hover {
        border-color: $main-color;
    }
}

.nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 1ch;
    margin: 8px 0px;
    color: $deselected-color;
    text-transform: lowercase;

    a:hover {
        text-decoration: underline;
    }
}

